<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/log/ads_${SERVER_PORT:-9999}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/ads_${SERVER_PORT:-9999}/all_%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} -%5level ${PID} [%thread] %logger{60}:%line -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%highlight(%5p) ${PID} [%10.10t] %-40.40logger{40} : %cyan(%m%n)</pattern>
        </encoder>
    </appender>

    <appender name="WE_CHAT_APPENDER" class="com.lwz.ads.util.WeChatAppender"/>

    <appender name="ERROR_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <appender-ref ref="WE_CHAT_APPENDER"/>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="CONSOLE_APPENDER" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="ERROR_APPENDER" />
        </root>
    </springProfile>

</configuration>