<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ALL_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/log/ads/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/ads/all_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %level [%logger]:%line [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>/data/log/ads/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/ads/error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %level [%logger]:%line [%thread] - %msg%n</pattern>
        </encoder>
    </appender>-->

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %highlight(%level) [%logger]:%line [%thread] - %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- root -->
    <root level="INFO" additivity="false">
        <appender-ref ref="ALL_APPENDER"/>
        <!--<appender-ref ref="ERROR_APPENDER"/>-->
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>
</configuration>